GP_HOST=
GP_PORT=
GP_USER=
GP_PASSWORD=

EXPORTER_PORT=9187
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
GRAFANA_PORT=3000

GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=

ALERT_EMAIL_TO=
ALERT_EMAIL_FROM=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=